if theme.preloader.enable
  if theme.preloader.source === 1
    include ./fullpage-loading.pug
  else if theme.preloader.source === 2
    include ./pace.pug
  else if theme.preloader.source === 3
    include ./hybrid.pug