.md .img
  object-fit: contain

img.inline
  display: inline !important
  vertical-align: middle
  transform: translateY(-4px)

p .img-alt
  display: inline-block
  width: 100%

.img-wrap
  position: relative
  margin: 0 auto
  text-align: center

  .img-bg
    .image-caption
      display: block
      text-align: center
      color: rgb(133, 133, 133)
      font-size: 14px