:root
  --style-border: 1px solid #e3e8f7
[data-theme="dark"]
  --style-border: 1px solid #42444a

#article-container
  .link-card
    background $code-background
    border-radius 8px !important
    display flex
    border var(--style-border)
    flex-direction column
    padding 0.5rem 1rem !important
    border-width 1px !important
    margin 1rem 0
    color var(--text-highlight-color)
    &:hover
      border 1px solid var(--bubble-text-hover-color)
      text-decoration none
      background var(--bubble-text-hover-color)
      color: var(--white)
      .tips,.link-group .right .text
        color var(--white)

    .tips
      border-bottom var(--style-border)
      padding-bottom 4px
      font-size 12px
      color var(--note-default-text)
      font-weight normal

    .link-group
      display flex
      margin-top 0.5rem
      align-items center
      justify-content space-around
      .left
        width 60px
        min-width 60px
        height 60px
        background-size cover
        border-radius 8px
        display flex
        align-items center
        justify-content center
        i
          margin 0
          padding 0
          margin auto
          font-size 24px

      .right
        margin-left 1rem
        max-width calc(100% - 76px - 1rem)
        .title
          font-size 1rem
          line-height 1.2
        .text
          font-size 0.7rem
          color var(--note-default-text)
          font-weight normal
          margin-top 4px

      i
        margin-left auto