@media (min-width: 1200px)
  .poem
    margin 0 auto
    height auto
    writing-mode vertical-rl
    writing-mode tb-rl
    p
      text-decoration underline
      text-decoration-color rgba(193, 11, 11, 0.72)
      text-decoration-style dashed

.poem
  p
    font-family "KaiTi", "DFKai-SB", "STKaiti", "FangSong", "SimSun", serif
    font-size 25px

.poem-title
    font-family "KaiTi", "DFKai-SB", "STKaiti", "FangSong", "SimSun", serif
    font-size 2.5em
    text-align center

.poem-author
  text-align center!important
  font-family "KaiTi", "DFKai-SB", "STKaiti", "FangSong", "SimSun", serif
  font-size 16px
  color rgb(66, 66, 66)
