nav#nav
  span#blog-info
    a.nav-site-title(href=url_for('/'))
      if theme.nav.logo
        img.site-icon(src=url_for(theme.nav.logo) alt='Logo')
      if theme.nav.display_title
        span.site-name=config.title

  .mask-name-container
    center(id="name-container")
      a.nav-site-title(href="javascript:btf.scrollToDest();")
        span.site-name=is_post() ? page.title : config.title + ' - ' + config.subtitle

  #menus
    if theme.menu
      != partial('includes/header/menu_item', {}, {cache: true})
    if theme.search.use
      #search-button
        span.site-page.social-icon.search(title=' '+_p('search.title'))
          i.fas.fa-search.fa-fw

      #toggle-menu
        span.site-page
          i.fas.fa-bars.fa-fw